<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>carId</key>
		<string>0A01282E-AD33-4E2F-9841-F8CEFDB1024F</string>
		<key>brandValue</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Land Cruiser</string>
		<key>yearOfManufacture</key>
		<integer>2019</integer>
		<key>engineTypeValue</key>
		<string>Дизель</string>
		<key>engineValue</key>
		<real>3.2</real>
		<key>enginePower</key>
		<integer>245</integer>
		<key>bodyTypeValue</key>
		<string>Универсал</string>
		<key>bodyColorValue</key>
		<string>Серый</string>
		<key>transmissionTypeValue</key>
		<string>Механическая</string>
		<key>wheelDriveValue</key>
		<string>Полный</string>
	</dict>
	<dict>
		<key>carId</key>
		<string>AD69B1DA-13BD-4CD1-9662-298DAA7DFB0F</string>
		<key>brandValue</key>
		<string>Kia</string>
		<key>model</key>
		<string>Ceed</string>
		<key>yearOfManufacture</key>
		<integer>2018</integer>
		<key>engineTypeValue</key>
		<string>Бензин</string>
		<key>engineValue</key>
		<real>1.6</real>
		<key>enginePower</key>
		<integer>130</integer>
		<key>bodyTypeValue</key>
		<string>Хетчбек</string>
		<key>bodyColorValue</key>
		<string>Черный</string>
		<key>transmissionTypeValue</key>
		<string>Автоматическая</string>
		<key>wheelDriveValue</key>
		<string>Передний</string>
	</dict>
	<dict>
		<key>carId</key>
		<string>17EED0AE-39EA-4691-9A6B-2E59BAB86D24</string>
		<key>brandValue</key>
		<string>Audi</string>
		<key>model</key>
		<string>A1</string>
		<key>yearOfManufacture</key>
		<integer>2019</integer>
		<key>engineTypeValue</key>
		<string>Бензин</string>
		<key>engineValue</key>
		<real>2</real>
		<key>enginePower</key>
		<integer>150</integer>
		<key>bodyTypeValue</key>
		<string>Хетчбек</string>
		<key>bodyColorValue</key>
		<string>Красный</string>
		<key>transmissionTypeValue</key>
		<string>Механическая</string>
		<key>wheelDriveValue</key>
		<string>Полный</string>
	</dict>
</array>
</plist>
